@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.date {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav */

/* navbar section */
 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .nav-con {
  border: none;
 }
/* logo */
.logo-con {
  display: flex;
  align-items: center;
}
.school {
  font-size: 32px;
  font-weight: 700;    
}
/* anchor */
.nav {
  display: flex;
  gap: 32px;
}
.nav > a {
  text-decoration: none;
}
.t1 {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
.t2 {
  color: skyblue;
  font-weight: bold;
  font-size: 20px;
}
.t3 {
  color: rgba(5, 212, 223, 1);
  font-weight: bold;
  font-size: 20px;
}
.t4 {
  color: rgba(93, 88, 239, 1);
  font-weight: bold;
  font-size: 20px;
}
/* button */
.nav-btn {
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: orange;
  padding: 10px;
  border: none;
  border-radius: 12px;
}
/* menu icon for mobile */
.menu {
  display: none;
}

/* banner section */
.banner {
  margin-bottom: 60px;
}
.banner-con {
  display: flex;
  gap: 50px;
}
.banner-content {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-img {
  grid-area: img;
}
.banner-t1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-s1 {
  color: orange;
}
.banner-s2 {
  color: skyblue;
}
.banner-t2 {
  color: black;
  font-size: 20px;
}
.banner-btn {
  width: 197px;
  height: 50px;
  color: white;
  background-color: black;
  padding: 10px ;
  border: none;
  border-radius: 12px;
}

/* shared design */
  .common-bg {
    background-image: url('../assets/bg.png');
  }
/* main section */

/* standard curriculum */
.curi-text {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}
.cards {
  display: flex;
  gap: 28px;
  padding: 80px 0px;
}
.card1 {
  background-image: linear-gradient(rgb(222, 245, 255), white, white, white);
  border-radius: 18.8px;
  padding: 52px 40px;
  border: 0.9px solid rgb(222, 245, 255);
}
.card2 {
  background-image: linear-gradient(rgba(255, 244, 220, 1), white, white, white);
  border-radius: 18.8px;
  padding: 52px 40px;
  border: 0.9px solid rgba(255, 244, 220, 1);
}
.card3 {
  background-image: linear-gradient(rgba(242, 232, 255, 1), white, white, white);
  border-radius: 18.8px;
  padding: 52px 40px;
  border: 0.9px solid rgba(242, 232, 255, 1);
}
.card-title {
  font-size: 24.52px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 33.5px;
}
.card-content {
  font-size: 15.09px;
  font-weight: 500;
  text-align: center;
  color: rgba(128, 128, 128, 1);
  margin-bottom: 34px;
}
.card-img {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.bann-btn-con {
  display: flex;
  justify-content: center;
}
.btn1 {
  width: 102px;
  height: 28px;
  color: rgba(100, 200, 255, 1);
  background-color: transparent;
  border: none;
}
.btn2 {
  width: 102px;
  height: 28px;
  color: rgba(240, 170, 0, 1);
  background-color: transparent;
  border: none;
}
.btn3 {
  width: 102px;
  height: 28px;
  color: rgba(135, 0, 255, 1);
  background-color: transparent;
  border: none;
}
.arrows {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
.arrow-img {
  width: 60px;
  height: 60px;
}

/* memories */
.yellow {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 218, 153, 1), rgba(255, 212, 137, 1));
}
.memories-text {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
/* main */
.main-img  {
  width: 540.1px;
  height: 630px;
  border: 0.3px solid rgb(255, 255, 255, 1);
  background-color: rgb(255, 255, 255, 1);
  border-radius: 16px;
}
.image1 {
  border-radius: 16px 16px 0px 0px;
}
.btn1 {
  width: 174px;
  height: 47px;
  font-weight: 500;
  border-radius: 47.9px;
  color: white;
  background-color: rgba(60, 216, 232, 1);

  position: absolute;
  top: 2050px;
}
.main-info {
  padding: 58px 38px 34px 38px;
}
.main-img-ttl {
  font-size: 24px;
  font-weight: bold;
}
.main-img-content {
  font-size: 15.3px;
  font-weight: 500;
}

/* more */
.memo-img-con {
  display: flex;
  gap: 19.17px;
  justify-content: center;
  margin-bottom: 80px;
}
.more-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.17px;
}
.img {
  width: 290.7px;
  height: 301.6px;
  border: 0.3px solid rgb(255, 255, 255, 1);
  background-color: rgb(255, 255, 255, 1);
  border-radius: 16px;
}
.image {
  border-radius: 16px 16px 0px 0px;
}
.more-img-con {
  background-color: rgb(255, 255, 255, 1);
}
.more-img-info {
  font-size: 15.3px;
  font-weight: bold;
  text-align: center;
}

.btn-1 {
  margin-bottom: 19.17px;
  width: 174px;
  height: 38px;
  font-weight: 500;
  font-size: 15.3;
  border: none;
  border-radius: 47.9px;
  color: white;
  background-color: rgba(149, 178, 38, 1);

  position: absolute;
  top: 1892px;
  right: 450px;
}
.btn-2 {
  width: 174px;
  height: 38px;
  font-weight: 500;
  font-size: 15.3;
  border: none;
  border-radius: 47.9px;
  color: white;
  background-color: rgba(93, 88, 240, 1);

  position: absolute;
  top: 1892px;
  right: 140px;
}
.btn-3 {
  width: 179px;
  height: 38px;
  font-weight: 500;
  font-size: 15.3;
  border: none;
  border-radius: 47.9px;
  color: white;
  background-color: rgba(149, 178, 38, 1);

  position: absolute;
  top: 2223px;
  right: 450px;
}
.btn-4 {
  width: 128px;
  height: 38px;
  font-weight: 500;
  font-size: 15.3;
  border: none;
  border-radius: 47.9px;
  color: white;
  background-color: rgba(149, 178, 38, 1);

  position: absolute;
  top: 2223px;
  right: 140px;
}
/* button */
.btn-con {
  display: flex;
  justify-content: center;
}
.memo-btn {
  height: 50px;
  width: 197px;
  border-radius: 12px;
  color: rgb(255, 255, 255, 1);
  background-color: rgb(0, 0, 0, 1);
}

/* footer */
.blue {
  background-color: rgba(1, 172, 253, 1);
}
/* sponsors */
.sponsors-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin-bottom: 32px;
}
/* about */
.about-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.about-list {
  list-style: none;
  color: white;
  font-weight: 500px;
  font-size: 20px;
}
/* logo */
.foot-con {
  display: flex;
  justify-content: space-between;
  padding: 123px 228px 174px 140px;
}
.footer-logo-title {
  margin-top: 0px;
  color: white;
  font-size: 42px;
  font-weight: bold;
}
.footer-con {
  display: flex;
  gap: 10px;
}
.footer-png {
  margin-top: 20px;
}
.footer-para {
  font-size: 20px;
  color: white;
  width: 399px;
}
.mar {
  color: white;
  font-size: 50px;
}