/* header */

/* nav */
@media screen and (max-width: 576px) {
/* header */

/* nav */
    .school {
        display: none;
    }
    .nav {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
    .nav-con {
        border: 0.5px solid orange ;
        padding: 12px 24px 12px 16px;
       }
/* banner */
    .banner-con {
        display: grid;
        grid-template-areas: 
        "img"
        "info"
        ;
        justify-items: center;
    }
    .banner-t1 {
        text-align: center;
    }
    .banner-t2{
        text-align: center;
    }
    .banner-btn-con {
        text-align: center;
    }
    /* main */
    /* curriculum */
    .cards {
        flex-direction: column;
        padding: 20px 0px;
    }
    .arrows {
        display: none;
    }
    /* footer */
    .foot-con {
        flex-direction: column;
        padding: 60px 0px 60px 20px;
    }
    /* story */
    .main-img {
        display: none;
    }
    .more-imgs {
        grid-template-columns: repeat(1, 1fr);
        gap: 11.3px;
    } 
    .btn1 {
        display: none;
    }   
    .btn-1 {
        top: 3083px;
        right: 210px;
    } 
    .btn-2 {
        top: 3397px;
        right: 210px;
    }
    .btn-3 {
        top: 3717px;
        right: 210px;
    }
    .btn-4 {
        top: 4031px;
        right: 220px;
    }

}
